extends ../shared/layout

block main-content
    include ../shared/mixins/form_group_input.jade
    
    form(method="post", enctype="multipart/form-data" class="form-horizontal well")
        fieldset
            +formGroupInput('username', 'username', 'Username', true)
            +formGroupInput('firstName', 'firstName', 'First name', true)
            +formGroupInput('lastName', 'lastName', 'Last name', true)
            +formGroupInput('phoneNumber', 'phoneNumber', 'Phone number', false)        
            .form-group
                label(for="email" class="col-lg-2 control-label") Email
                .col-lg-10
                    input(id="email" class="form-control" type="text" pattern="[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})" name="email" placeholder="Email" required="required")
            +formGroupInput('facebook', 'facebook', 'Facebook', false)                 
            +formGroupInput('twitter', 'twitter', 'Twitter', false)                 
            +formGroupInput('linkedin', 'linkedin', 'Linkedin', false)                 
            +formGroupInput('googleplus', 'googleplus', 'Googleplus', false)                            
            .form-group
                label(for="password" class="col-lg-2 control-label") Password
                .col-lg-10
                    input(id="password" class="form-control" type="password" name="password" placeholder="Password" required="required")
            .form-group
                label(for="confirm-password" class="col-lg-2 control-label") Confirm Password
                .col-lg-10
                    input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password" required="required")
            .form-group            
                label(for='avatar' class="col-lg-2 control-label") Photo
                .col-log-10
                    input(type="file" name="avatar")
            .col-lg-10.col-lg-offset-2
                input(type="reset" class="btn btn-default" value="Cancel")
                input(type="submit" class="btn btn-primary" value="Register")
