doctype
html
    head
        title Academy events System
        include styles
    body
        header
            nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
                .container-fluid
                    .navbar-header                        
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main" aria-expanded="'false'")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(href="/" class="navbar-brand") 
                            img(alt="Events System" src="/img/brand.png" class="img-responsive" width="25" height="25")
                    div(id="navbar-collapse-main" class="navbar-collapse collapse")
                        ul(id="myTabs" class="nav navbar-nav")
                            li(id="home")
                                a(href="/") Home #[span.sr-only (current)]                            
                            if (currentUser)
                                li(id="user" class="dropdown")
                                    a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #[span(class="glyphicon glyphicon-user" aria-hidden="true")] user #[span.carret]
                                    ul.dropdown-menu
                                        li
                                            a(href="/profile") My profile
                                        li
                                            a(href="/user/#{currentUser._id}/activeEvents") My active events
                                        li(role="separator" class="divider")                                            
                                        li
                                            a(href="/events/new") Create event 
                                        li(role="separator" class="divider")    
                                        li
                                            a(href="/initiatives") Initiatives
                                        li(role="separator" class="divider")
                                        li                            
                                            a(href="/logout") Logout                                                                                        
                            else
                                li(id="register")
                                    a(href="/register") Register
                                li(id="login")
                                    a(href="/login") Login
                        if (currentUser)                    
                            p.navbar-text Signed in as  #[a(href="/" class="navbar-link") #{currentUser.username}]                        
        #main-body.container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content

        footer
            p.text-center
                | &copy; Academy events 2014

        block scripts
