extends ../shared/layout

block main-content        
    include ../shared/mixins/events_table.jade                    
    +createEventsTable(events, 'Passed events')   

block scripts
    script(data-main="/scripts/pages/home" src="/lib/requirejs/require.js")
